@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

/* Arrows (Buttons) */
::-webkit-scrollbar-button:single-button {
  background-color: transparent;
  display: block;
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: center;
  height: 16px;
}

/* Up Arrow */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23555'><polygon points='50,35 10,75 90,75'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23777'><polygon points='50,35 10,75 90,75'/></svg>");
}

/* Down Arrow */
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23555'><polygon points='10,25 90,25 50,65'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23777'><polygon points='10,25 90,25 50,65'/></svg>");
}

/* Mobile Toolbar Scrollbar */
.mobile-toolbar-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.mobile-toolbar-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.mobile-toolbar-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 20px;
}

.mobile-toolbar-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}